<h1>Edit User</h1>

<%= form_with model: @user do |form| %>
    <div>
        <p><%= form.label :username %></p><br>
        <%= form.text_field :username %>
    </div>

    <div>
        <p><%= form.label :email %></p><br>
        <%= form.text_field :email %>
    </div>

    <div>
        <p><%= form.label :password %></p><br>
        <%= form.password_field :password %>
    </div>

    <%= form.submit "Update" %>
<% end %>