<h1>Edit User</h1>

<%= form_with model: @user do |form| %>
    <div>
        <p><%= %></p><br>
        <%= form.text_field %>
    </div>

    <div>
        <p><%=%></p><br>
        <%= form.text_field %>
    </div>

    <div>
        <p><%=%></p><br>
        <%= form.password_field %>
    </div>

    <%= form.submit "Update" %>
<% end %>