<h1>New User</h1>

<%= form_with model: @user do |form| %>
  <div>
    <p><%= form.label :username, "Username:" %></p>
    <%= form.text_field :username %>
  </div>
  
  <div>
    <p><%= form.label :email, "Email:" %></p>
    <%= form.text_field :email %>
  </div>

  <div>
    <p><%= form.label :password, "Password:" %></p>
    <%= form.password_field :password %>
  </div>

  <%= form.submit "Submit" %>
<% end %>